body {
    -webkit-user-select: none;
    -moz-user-select: none;
}

body button:focus {
    outline: 0;
}

/* 主要區域 */

.parent {
    position: relative;
    top: 0;
    left: 0;
}

#initialBaseIMG {
    width: 100%;
    padding: 10vh 0;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    border-style: dashed;
    border-width: .5vw;
}

.baseIMG {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-flex;
}

.imagesHeader {
    position: absolute;
    z-index: 9;
}

.image {
    position: relative;
    z-index: 10;
    width: auto;
    cursor: pointer;
    max-height: -webkit-fill-available;
}

.image:hover {
    -moz-box-shadow: 0 0 .5vw #888;
    -webkit-box-shadow: 0 0 .5vw#888;
    box-shadow: 0 0 .5vw #888;
}

#videoShow {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#prePosition {
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-width: .2vw;
    width: 24vw;
    height: 13.5vw;
    text-align: center;
    vertical-align: middle;
    line-height: 13.5vw;
    display: initial;
}

#youtube {
    position: absolute;
    display: none;
}

#desShow {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#desPosition {
    position: absolute;
    width: 30vw;
}

#marqShow {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#marqPosition {
    position: absolute;
    width: 30vw;
}

#marqDisplay {
    position: absolute;
    width: 30vw;
}

.parent {
    color: #3C232A;
    font-size: calc(.6vw + .6vh + 1vmin);
    font-family: 華康正顏楷體W5, 標楷體;
}

/* 影片控制區 */

.controllBar {
    text-align: center;
}

.playBar {
    display: inline-flex;
    visibility: hidden;
    margin: 1vh auto;
}

.playPause {
    width: 2vw;
    height: 2vw;
    border-style: double;
    border-width: 0 0 0 1vw;
    border-color: #3C232A;
    cursor: pointer;
    margin-right: .5vw;
}

.stop {
    width: 1.8vw;
    height: 1.8vw;
    background: #3C232A;
    cursor: pointer;
    margin-right: .5vw;
}

.YouTube {
    color: #3C232A;
    font-size: calc(.7vw + .7vh + 1vmin);
    font-weight: bold;
    cursor: pointer;
    padding-left: 1vw;
}

/* 模式切換 */

.editBar {
    margin: 1vh .5vw;
}

#modeStatus {
    border: .1vw #3C232A;
    background: #3C232A;
    color: #E8DCC4;
    font-size: calc(.5vw + .5vh + 1vmin);
    font-family: 華康正顏楷體W5, 標楷體;
    padding: .5vh .5vw;
    border-radius: .5vw;
}

#modeStatus:hover {
    border: .1vw #3C232A;
    background: #3C232A;
}

/* 編輯區 */

#updateBlock {
    margin: .5vh .5vw;
    display: inline-flex;
}

#uploadIMGs input {
    outline: 0;
    border: 0;
    border-radius: .2vw;
    color: #E8DCC4;
    background: #3C232A;
    margin-right: .5vw;
}

form {
    display: flex;
    margin: .3vh 0;
}

/* 編輯區-設定圖案 */

#updateIMG {
    font-family: 華康正顏楷體W5, 標楷體;
    font-size: calc(.5vw + .5vh + 1vmin);
    color: #3C232A;
    margin: 0 2vw;
    display: inline-flex;
    visibility: hidden;
}

#imgZoom {
    display: inline-flex;
}

#imgZoom div {
    text-align: center;
    cursor: pointer;
    margin: .1vh 0 0 .5vw;
    border-radius: 999em;
    border: solid #3C232A;
    width: 30px;
    height: 30px;
    font-size: calc(.5vh + .5vh + 1vmin);
    font-weight: bold;
    border-width: medium;
}

#imgZoom div:hover {
    color: #E8DCC4;
    background: #3C232A;
}

.editContent {
    margin-left: 2vw;
    margin-bottom: 1vh;
    display: -webkit-box;
}

.editContent input {
    color: #3C232A;
    background: transparent;
    outline: 0;
}

.editContent textarea {
    color: #3C232A;
    background: transparent;
    outline: 0;
}

.save {
    border: .1vw solid #3C232A;
    background: transparent;
    color: #3C232A;
    font-size: calc(.5vw + .5vh + 1vmin);
    border-radius: .5vw;
    margin: 0 .2vw;
}

.save:hover {
    background: #3C232A;
    color: #E8DCC4;
}

.save:active {
    border: transparent;
    background: rgba(60, 35, 42, .9);
}

/* 影片 */

#youtubeVideoes {
    display: none;
}

/* 頁面尾巴 */
.pageBottom {
    height: 2vh;
}