body {
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* 主要區域 */

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.baseIMG {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: absolute;
    max-width: 1vw;
    cursor: pointer;
    top: 59%;
    left: 25.5%;
}

.image2 {
    position: absolute;
    max-width: 1vw;
    cursor: pointer;
    top: 65.5%;
    left: 21.5%;
}

.image3 {
    position: absolute;
    max-width: 1vw;
    cursor: pointer;
    top: 64.5%;
    left: 22.5%;
}

.image4 {
    position: absolute;
    max-width: 1vw;
    cursor: pointer;
    top: 64.5%;
    left: 24.5%;
}

.image5 {
    position: absolute;
    max-width: 1vw;
    cursor: pointer;
    top: 56%;
    left: 22%;
}

.image6 {
    position: absolute;
    max-width: 1vw;
    cursor: pointer;
    top: 73%;
    left: 28%;
}

.image7 {
    position: absolute;
    max-width: 1vw;
    cursor: pointer;
    top: 52%;
    left: 31%;
}

.image8 {
    position: absolute;
    max-width: 1vw;
    cursor: pointer;
    top: 68%;
    left: 24.5%;
}

.image9 {
    position: absolute;
    max-width: 1vw;
    cursor: pointer;
    top: 51%;
    left: 19.5%;
}

#youtube {
    position: absolute;
    visibility: hidden;
    width: 25%;
    left: 50%;
    top: 5%;
}

#description {
    position: absolute;
    width: 20%;
    top: 5%;
    right: 2%;
}

#description a {
    color: #3C232A;
    cursor: pointer;
    font-size: calc(.4vw + .4vh + 1vmin);
}

.parent p {
    color: #3C232A;
    font-size: calc(.5vw + .5vh + 1vmin);
    font-family: 華康正顏楷體W5, 標楷體;
}

/* 影片控制區 */

.controllBar {
    text-align: center;
}

.playBar {
    display: inline-flex;
    visibility: hidden;
    margin: 1vh auto;
}

.playPause {
    width: 2vw;
    height: 2vw;
    border-style: double;
    border-width: 0 0 0 1vw;
    border-color: #3C232A;
    cursor: pointer;
    margin-right: .5vw;
}

.stop {
    width: 1.8vw;
    height: 1.8vw;
    background: #3C232A;
    cursor: pointer;
    margin-right: .5vw;
}

.YouTube {
    color: #3C232A;
    font-size: calc(.7vw + .7vh + 1vmin);
    font-weight: bold;
    cursor: pointer;
    padding-left: 1vw;
}

/* 體驗鈕 */

.toTRY a {
    margin: 1vh .5vw;
    padding: .1vh .2vw;
    border: .1vw solid #3C232A;
    background: transparent;
    color: #3C232A;
    font-size: calc(.5vw + .5vh + 1vmin);
    font-family: 華康正顏楷體W5, 標楷體;
    border-radius: .2vw;
    display: inline-block;
    cursor: pointer;
}

.toTRY a:hover {
    color: #E8DCC4;
    background: #3C232A;
}

/* 影片 */

.youtubeVideoes {
    display: none;
}